In [1]:
import pandas as pd
import numpy as np

In [2]:
file = "../data/train_sqli.csv"

In [3]:
df = pd.read_csv(file, encoding = "ISO-8859-1",on_bad_lines='skip')
df.head(30)

                                 Payloads   Class
0                               '86et4ar'  Benign
1                      '1281450288895094'  Benign
2                             '30199081n'  Benign
3                                'ratnam'  Benign
4                      '3655911674701564'  Benign
5                                  '1010'  Benign
6                                 '43893'  Benign
7                  'c/ albaida, 165, 2-a'  Benign
8                      '5244670770446308'  Benign
9             'chamberlin@nikemujeres.py'  Benign
10                         'harmonia 120'  Benign
11                            '03206041w'  Benign
12                        'granados 151,'  Benign
13                       'silo 179, 12?b'  Benign
14                         'en2re7e4hu16'  Benign
15                        'dove3@enla.nc'  Benign
16                               '6el24a'  Benign
17                                '50562'  Benign
18                                 '2533'  Benign
19                                 'orea'  Benign
20                             'opopnaco'  Benign
21                            '95549133a'  Benign
22                     '3454478326370479'  Benign
23                   'hervey@annoyanc.eh'  Benign
24                              'jaaziel'  Benign
25                            '56632037b'  Benign
26                                'maila'  Benign
27                            '7o30s5si7'  Benign
28  'mcgovern-boxter@buscadordevideos.ag'  Benign
29                                'oblak'  Benign

In [20]:
sqli_df = df[df['attack_type'] == 'sqli']
sqli_df.head()

,payload,length,attack_type,label
436,1' where 6406=6406;select count(*) from rdb$fi...,115,sqli,anom
437,1) and 8514=(select count(*) from domain.domai...,111,sqli,anom
438,-3136%') or 3400=6002,21,sqli,anom
439,1) where 7956=7956 or sleep(5)#,31,sqli,anom
440,-7387'))) order by 1--,22,sqli,anom

In [21]:
len(sqli_df)

10852

In [22]:
norm_df = df[df['attack_type'] == 'norm']
norm_df.head()

            payload  length attack_type label
0    c/ caridad s/n      14        norm  norm
1      campello, el      12        norm  norm
2             40184       5        norm  norm
3  1442431887503330      16        norm  norm
4             nue37       5        norm  norm

In [23]:
len(norm_df)

19304